<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Portfolio • {% block title %}{% endblock %}</title>
        {% block stylesheets %}
             {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="app-container">
            <div class="app-header">
                <div class="app-header-left">
                    <span class="app-icon"></span>
                    <p class="app-name">My Portfolio</p>
                </div>
                <div class="app-header-right">
                    <a href = "{{ path('app_login') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M10 9.408l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7zm6-3c-1.787 0-3.46.474-4.911 1.295l.228.2 1.396 1.221c1.004-.456 2.114-.716 3.287-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.283-.26-3.288-.715l-1.396 1.221-.228.2c1.452.82 3.125 1.294 4.912 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z"/></svg>
                    </a>
                    <button class="profile-btn">
                        <img src="{{ asset('axelc.jpg') }}" />
                        <span>Axel Croizé</span>
                    </button>
                </div>
            </div>
            <div class="app-content">
                <div class="app-sidebar">
                    <a href="{{path('default')}}" class="app-sidebar-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        <polyline points="9 22 9 12 15 12 15 22" /></svg>
                    </a>
                </div>
                <div class="projects-section box">
                    <div class = "content">
                        {% block previous %}{% endblock %}
                        <div class="projects-section-header">
                            <p>{% block pageTitle %}{% endblock %}</p>
                            <p class="time">{% block dates %}{% endblock %}</p>
                        </div>
                        <div class="projects-section-line">
                            {% block subheader %}{% endblock %}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
